### node etc ###

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Compiled Dirs (http://nodejs.org/api/addons.html)
build/
dist/

# Dependency directories
node_modules/
bower_components/

main.js
keys.js
.DS_Store
*/.DS_Store
sessions/