/* main font */
html *
{
   color: #000 !important;
   font-family: Gotham !important;
}

/* signup */
.signupBorder {
  border: 2px solid lightgrey;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 15px;
  opacity: 50%;
}
.checkbox {
  text-align: left;
  margin: 0 auto;
  padding: 0px 0 0 36%;
}

.signupBtn {
  margin: 12px auto auto auto;
}

.oauthPic {
	width: 180px;
	height: 40px;
	margin: 5px;
}

.center {
  margin-left: auto ;
  margin-right: auto ;
}

.centerSignup {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.loginModal {
  width: 45%;
}

.signupLinks, .signupOAuth{
	width: 50%;
}

.form-margin {
  margin: 2px;
}

.login-margin {
  margin-top: 10px;
}

.firstName, .password {
  margin-right: 10px;
}

.names, .passwords {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
} 

.emailFill{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.techstrengths{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  max-width: 400px;
}

/*Landing Page*/
.background-image {
  background-image: url('/assets/img/homepage.jpg');
  background-size: 100% 100%;
}

.landing-page{
  width: 100%;
  height: 90%;
  background-image: url('/assets/img/homepage.jpg');
  background-size: 100% 100%;
}

.site-name, .iamdev, .slogan, .scroll-down, .signup-buttons, 
.team-header, .stack, .featured, .signupCentered, .centered{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  float: none;
  position: relative;
  width: 100%;
}
.site-name, .iamdev, .slogan, .scroll-down, .signup-buttons{
  color: white;
}

.carouselProjects {
  width: 100%;
  height: 80%;
}

.site-name{
  padding-top: 5%;
  font-size: 40px;
  color: #1CB3FF;
}

.iamdev{
  top: 10%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 30px;
}

.signup-buttons{
  top: 15%;
}

.under-buttons{
  font-size: 12px;
}

.slogan{
  padding-top: 15px;
  font-size: 20px;
  top: 30%;
}

.scroll-down{
  top: 44%;
  width:100%;
}

/*header*/

.headerMargin {
  width: 90%;
}

/*footer*/
.bracy{
  font-size: 12px;
}

.terms{
  float: right;
}

.footer-bottom{
  position: relative;
  bottom: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.terms-of-use{
  padding-right: 10px;
}

/*team*/

.image-preview{
  display: inline-block;
  position: relative;
}

.team-header{
  font-size: 40px;
  padding-bottom: 20px;
}

.inset {
  position: absolute;
  bottom: 11%;
  width: 89%;
  height: 87%;
  background-color: black;
  text-align: center;
  color: white;
  opacity: .9;
}

.insetDescription{
  padding-left: 5%;
  padding-right: 5%;
}
.descriptionHeader{
  text-decoration: underline;
}
.thumbnail-preview{
  position: relative;
  padding: 10px;
  overflow: auto;
}
.eachThumbnail{
  position: relative;
  display: inline-block;
  height: 300px;
  width: 300px;
}

.team-image{
  height: 200px;
  width: 200px;
}

/*stack*/

.stack, .featured{
  font-size: 40px;
  padding-top: 45px;
  padding-bottom: 20px;
}

.stack-images{
  display: inline-block;
}

.thumbnail{
  text-align: center;
}

.neo4j{
  position: relative;
  padding-top: 5%;
}

.help{
  float: none;
  display: inline;
}

/*featured projects*/

/*profile*/
.profile {
  width: 80%;
}

.profileBox {
  display: inline-block;
  width: 30%;
  height: 200px;
  margin: 1em;
}

/*other*/
.fullscreen {
  height: 100%;
}

.headerText {
  color: black;
  opacity: 100%;
}

.headerInline {
  display: inline;
  position: relative;
}

.questionmark {
  height: 15px;
  width: 10px;
}

.autocomplete-input {
  margin-bottom: 10px;
}
.autocomplete-dropdown-item {
  cursor: pointer;
}
.autocomplete-list-item {
  margin-right: 3px;
  cursor: pointer;
}
