/* main font */
html *
{
   color: #000;
   font-family: Gotham;
}

body{
  background-color: #f2f2f2;
}

.main{
  height: 100%;
}

/* Timeline */

.timeline-container{
  width: 25%;
  float: right;
  padding-right: 20px
}

.projects-in-profile, .profileBox{
  width: 100%;
}
.profileBox{
  padding-left: 2%;
}

.dev-fields{
  padding-left: 2%
}

.rest-of-profile{
  padding-left: 4%;
}

.project-list h3{
  padding-left: 4%;
}

.each-card{
  padding-top: 10px;
}

.profile-info{
  width: 75%;
  float: left;
  padding-right: 10px;
}

.all-of-them{
 display: inline-block;
}

.timeline-container h3 {
  text-align: center;
}
/* signup */
.signupBorder {
  border: 2px solid lightgrey;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 15px;
  opacity: 50%;
}

.checkbox {
  text-align: left;
  margin: 0 auto;
  padding: 0px 0 0 36%;
}

.signupBtn {
  margin: 12px auto auto auto;
}

.oauthPic {
	width: 180px;
	height: 40px;
	margin: 5px;
}

.center {
  margin-left: auto ;
  margin-right: auto ;
}

.centerSignup {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.loginModal {
  width: 45%;
}

.signupLinks, .signupOAuth{
	width: 50%;
}

.form-margin {
  margin: 2px;
}


.login-margin {
  margin-top: 10px;
}

.firstName, .password {
  margin-right: 10px;
}

.names, .passwords {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
} 

.emailFill{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.techstrengths{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  max-width: 400px;
}

/*Landing Page*/
.background-image {
  background-image: url('/assets/img/homepage.jpg');
  background-size: 100% 100%;
  margin-top: -64px;
}

.landing-page{
  width: 100%;
  height: 90%;
  background-image: url('/assets/img/homepage.jpg');
  background-size: 100% 100%;
}

.site-name, .iamdev, .slogan, .scroll-down, .signup-buttons, 
.team-header, .stack, .featured, .aboutUs, .signupCentered, .centered{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  float: none;
  position: relative;
  width: 100%;
}
.site-name, .scroll-text, .signup-buttons, .glyphicon-circle-arrow-down{
  color: #ffffff;
}

.carouselProjects {
  width: 100%;
  height: 80%;
}

.site-name{
  padding-top: 2%;
  padding-left: 5%;
  font-size: 40px;
  color: #1CB3FF;
}

.iamdev{
  top: 7%;
  padding-top: 15px;
  text-align: center;
  padding-bottom: 15px;
  font-family: Optima;
  font-size: 40px;
  color: #4B7091;
}

.signup-buttons{
  top: 10%;
}

.under-buttons{
  font-size: 16px;
  font-family: Optima;
}

.slogan{
  -webkit-text-stroke: 0.5px black;
  padding-top: 15px;
  font-family: Optima;
  font-size: 25px;
  top: 20%;
  color: #4B7091;
}

.scroll-down{
  top: 44%;
  width:100%;
  font-size: 20px;
}

/*header*/

.headerMargin {
  width: 90%;
}

.header-button1{
  color: white;
}

.first-button{
  color: rgba(0,0,255,0.2);
}

/*footer*/
.bracy{
  font-size: 12px;
}

.terms{
  float: right;
}

.footer-bottom{
  position: relative;
  bottom: -3em;
  width: 100%;
  height: 3em;
}

.terms-of-use{
  padding-right: 10px;
}

/*team*/

.image-preview{
  display: inline-block;
  position: relative;
}

.inset {
  width: 100%;
  height: 89%;
  background-color: #6E7FD5;
  text-align: center;
  opacity: .9;
  margin-top: -10px;
  margin-bottom: -8px;
}

.insetDescription{
  padding-left: 5%;
  padding-right: 5%;
  font-size: 16px;
}

.descriptionHeader{
  text-decoration: underline;
  font-size: 20px;
}

.thumbnail-preview{
  position: relative;
  padding: 10px;
  overflow: none;
  height: 250px;
  width: 25%;
}

.eachThumbnail{
  position: relative;
  /*display: inline-block;*/
  padding-left: 20px;
}

.thumbnail-image{
  height: 60%;
  width: 100%;
}

.team-image{
  height: 200px;
  width: 200px;
}

.entire-team{
  margin-left: 6%;
}

.thumbnail {
  text-align: center;
}

.nametags{
  height: 14%;
  width: 23%;
}

/*stack*/

.stack, .featured, .aboutUs, .team-header{
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.aboutUsStatement{
  text-align: center;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 2%;
  font-size: 18px;
}

.aboutUsMain, .teamMain, .featuredMain, .stackMain{
  padding: 15px;
}

.break-point{
  padding-top: 2%;
}

.aboutUsMain{
  padding-top: 30px;
}

.stack-images{
  display: inline-block;
}

.browse-button{
  position: relative;
  text-align: center;
  bottom: 5%;
}

.stack-tags{
  width: 25%;
  height: 20%;
  margin: auto;
}

.stack-images{
  height: 200px;
  width: 200px;
  vertical-align: center;
}

.entire-stack{
  padding-left: 2px;
}

.neo4j-image{
  padding: auto;
}

.neo4j{
  min-height: 50px;
  height: 203px;
  position: relative;
  padding: 15%;
}

.help{
  text-align: center;
}

/*browse projects*/

.searchbar{
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.proj-search{
  font-size: 14px;
  padding-left: 10px;
}

.tag-search{
  padding-top: 10px;
  padding-left: 5px;
  font-size: 14px;
}

/*profile*/
.profile {
  width: 80%;
}

.profileMargin {
  margin-top: 30px; 
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 10px;
}

.paperMargin {
  margin-left: 70px;
  margin-right: auto;
}

.label-color {
  background-color: #6E7FD5;
}

.label-inline {
  display: inline;
}

.links {
  text-decoration: underline;
  color: blue;
}

.profileAvatar {
  width: 175px;
  height: 175px;
  margin: auto;
}

.profileRound {
  border-radius: 50%;
}

.bio {
  margin-left: 22px;
}

.project-prof {
  padding: 20px;
  margin-left: 20px;
  font-size: 17px;
}

.project-prof1, .project-prof2 {
  width: 75%;
  margin-bottom: 5px;
  font-weight: bold;
}

.proj-title {
  font-weight: bold;
  font-size: 30px;
  margin-left: 50px;
}

.org-desc {
  font-size: 20px;
  width: 75%;
  padding: 10px;
  margin: 10px;
}

.timeline-proj {
  padding: 10px;
  margin: 10px;
}

.proj-desc {
  font-size: 20px;
  padding: 10px;
  margin: 10px;
}

.org-link-btn {
  width: 300px;
  margin-left: 5%;
  margin-bottom: 20px;
}

.tag {
  padding: 5px;
  margin: 0px 5px 0px 5px;
}

/*organization*/
.org-view-project {
  width: 25%;
  display: inline-block;
  padding: 20px;
  margin: 40px;
}

.createorg-button{
  padding-right: 20px;
}

.org-projects {
  text-align: center;
  font-size: 20px;
}

.org-view-desc {
  position: inline-block;
  text-align: left;
  width: 75%;
  font-family: Tahoma;
  font-size: 20px;
  margin-left: 20%;
}
.edit-follow {
  position: inline;
  margin-left: 40px;
  padding-left: 20px;
  width: 120px;
}

.create-proj {
  position: inline;
  margin: 20px;
  width: 120px;
}

/* create org */
.short-form, .long-form, .form-margin{
  margin: 8px 0;
}

.short-form {
  width: 35%;
}

.long-form {
  width: 70%;
}

.create {
  text-align: center;
}

.center-form {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.orgPic {
  width: 100%;
  max-width: 200px;
  margin-top: 16px;
}

.orgButton, .createTitle {
  text-align: center;
}

.containerWidth {
  width: 60%;
  margin: 2% auto;
}

/* project */

.projectBtn {
  margin: 10px;
}

.headerProj {
  margin: 5px;
}

.headerIndent {
  margin-left: 10px;
}

.projectBio, .projectCauses {
  margin: 1% 10% 1% 8%;
}


.projectBioBorder, .projectBorder {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

.projectOrgBtn {
  margin-top: 10px;
  margin-left: 10px;
}

/*other*/
.fullscreen {
  height: 100%;
}

.headerText {
  color: black;
  opacity: 100%;
}

.headerInline {
  display: inline;
  position: relative;
}

.smallAvatar {
  width: 70px;
  margin-left: 5px
}

.questionmark {
  height: 15px;
  width: 10px;
}

.autocomplete-input {
  margin-bottom: 10px;
}
.autocomplete-dropdown-item {
  cursor: pointer;
}
.autocomplete-list {
  padding-bottom: 9px;
}
.autocomplete-list-item {
  margin-right: 3px;
  cursor: pointer;
}
.searchbar .autocomplete-container {
  margin-top: -8px;
}
.searchbar .autocomplete-input {
  display: inline-block;
  width: 150px;
  height: 22px;
  margin: 3px;
  border: 0;
  border-bottom: 1px rgb(224,224,224) solid;
}
.searchbar .autocomplete-input:focus {
  outline: none;
}
.searchbar .autocomplete-list {
  display: inline-block;
  padding-bottom: 0;
}
.searchbar .autocomplete-list-item {
  margin-top: 3px;
}
