/* main font */
html *
{
   color: #000;
   font-family: Gotham;
}

body{
  background-color: #f2f2f2;
}

/* signup */
.signupBorder {
  border: 2px solid lightgrey;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 15px;
  opacity: 50%;
}

.checkbox {
  text-align: left;
  margin: 0 auto;
  padding: 0px 0 0 36%;
}

.signupBtn {
  margin: 12px auto auto auto;
}

.oauthPic {
	width: 180px;
	height: 40px;
	margin: 5px;
}

.center {
  margin-left: auto ;
  margin-right: auto ;
}

.centerSignup {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.loginModal {
  width: 45%;
}

.signupLinks, .signupOAuth{
	width: 50%;
}

.form-margin {
  margin: 2px;
}


.login-margin {
  margin-top: 10px;
}

.firstName, .password {
  margin-right: 10px;
}

.names, .passwords {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
} 

.emailFill{
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.techstrengths{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  max-width: 400px;
}

/*Landing Page*/
.background-image {
  background-image: url('/assets/img/homepage.jpg');
  background-size: 100% 100%;
  margin-top: -64px;
}

.landing-page{
  width: 100%;
  height: 90%;
  background-image: url('/assets/img/homepage.jpg');
  background-size: 100% 100%;
}

.site-name, .iamdev, .slogan, .scroll-down, .signup-buttons, 
.team-header, .stack, .featured, .aboutUs, .signupCentered, .centered{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  float: none;
  position: relative;
  width: 100%;
}
.site-name, .iamdev, .scroll-text, .signup-buttons, .glyphicon-circle-arrow-down{
  color: #ffffff;
}

.carouselProjects {
  width: 100%;
  height: 80%;
}

.site-name{
  padding-top: 2%;
  padding-left: 5%;
  font-size: 40px;
  color: #1CB3FF;
}

.iamdev{
  top: 7%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 30px;
}

.signup-buttons{
  top: 10%;
}

.under-buttons{
  font-size: 12px;
}

.slogan{
  padding-top: 15px;
  font-size: 20px;
  top: 20%;
  color: #4B7091;
}

.scroll-down{
  top: 44%;
  width:100%;
}

/*header*/

.headerMargin {
  width: 90%;
}

.header-button1{
  color: white;
}

.first-button{
  color: rgba(0,0,255,0.2);
}

/*footer*/
.bracy{
  font-size: 12px;
}

.terms{
  float: right;
}

.footer-bottom{
  position: relative;
  bottom: -3em;
  width: 100%;
  height: 3em;
}

.terms-of-use{
  padding-right: 10px;
}

/*team*/

.image-preview{
  display: inline-block;
  position: relative;
}

.inset {
<<<<<<< HEAD
  width: 268px;
  height: 270px;
  background-color: #5967AD;
=======
  width: 220px;
  height: 162px;
  background-color: black;
>>>>>>> 7e1952e6e849e34984caa0dcc28ff676834d3824
  text-align: center;
  opacity: .9;
}

.insetDescription{
  padding-left: 5%;
  padding-right: 5%;
  font-size: 16px;
}

.descriptionHeader{
  text-decoration: underline;
  font-size: 20px;
}

.thumbnail-preview{
  position: relative;
  padding: 10px;
  overflow: auto;
  height: 350px;
  width: 300px;
}

.eachThumbnail{
  position: relative;
  display: inline-block;
  padding-left: 20px;
}

.thumbnail-image{
  height: 50%;
  width: 50%;
}

.team-image{
  height: 200px;
  width: 200px;
}

.entire-team{
  margin-left: 6%;
}

.thumbnail {
  text-align: center;
}

.nametags{
  height: 14%;
  width: 23%;
}

/*stack*/

.stack, .featured, .aboutUs, .team-header{
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.aboutUsStatement{
  text-align: center;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 2%;
  font-size: 18px;
}

.aboutUsMain, .teamMain, .featuredMain, .stackMain{
  padding: 15px;
}

.break-point{
  padding-top: 2%;
}

.aboutUsMain{
  padding-top: 30px;
}

.stack-images{
  display: inline-block;
}

.browse-button{
  text-align: center;
}

.stack-tags{
  width: 25%;
  height: 20%;
  margin: auto;
}

.stack-images{
  height: 200px;
  width: 200px;
  vertical-align: center;
}

.entire-stack{
  padding-left: 2px;
}

.neo4j-image{
  padding: auto;
}

.neo4j{
  min-height: 50px;
  height: 203px;
  position: relative;
  padding: 15%;
}

.help{
  text-align: center;
}

/*browse projects*/

.searchbar{
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

/*profile*/
.profile {
  width: 80%;
}

.profileMargin {
  margin: 30px auto 10px auto;
}

.paperMargin {
  margin-left: 70px;
  margin-right: auto;
}

.label-color {
  background-color: #6E7FD5;
}

.label-inline {
  display: inline;
}

.links {
  text-decoration: underline;
  color: blue;
}

.profileAvatar {
  border-radius: 50%;
  width: 175px;
  height: 175px;
  margin: auto;
}

.bio {
  margin-bottom: 30px;
}
/*organization*/
.org-view-project {
  border: 1px solid black;
  width: 25%;
  display: inline-block;
  padding: 20px;
  margin: 40px;
}

.createorg-button{
  padding-right: 20px;
}

.org-projects {
  text-align: center;
  font-size: 20px;
}

/* org */
.short-form, .long-form, .form-margin{
  margin: 8px 0;
}

.short-form {
  width: 35%;
}

.long-form {
  width: 70%;
}

.create {
  text-align: center;
}

.center-form {
  margin-left: auto;
}

/*other*/
.fullscreen {
  height: 100%;
}

.headerText {
  color: black;
  opacity: 100%;
}

.headerInline {
  display: inline;
  position: relative;
}

.questionmark {
  height: 15px;
  width: 10px;
}

.autocomplete-input {
  margin-bottom: 10px;
}
.autocomplete-dropdown-item {
  cursor: pointer;
}
.autocomplete-list-item {
  margin-right: 3px;
  cursor: pointer;
}
